.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vw;
}

.score-board{
    font-size: 22px;
    display: flex;
    flex-direction: column;
    
    
}

.button{
    height:100px;
    width:300px;
    background-color: rgb(201, 248, 248);
    font-size: 28px;
}